/* *{
  margin:10px 20px;
} */
body{
  overflow: hidden;
}
#sectionHome{
  height: 100vh;
}
.img{
  height: 70vh;
  width: 90vw;
}
.main-heading{
  text-align: center;
  color:#183b56;
}
.iframe{
  width: 90vw;
  height: 50vh;
}
.paragraph{
  color: #5a7184;
}